.home_wrapper {
  overflow: hidden;
  width: 960px;
  margin: 0 auto;

  .home_left {
    float: left;
    margin-left: 15px;
    padding-top: 30px;
    width: 625px;


    .banner_img {
      width: 625px;
      height: 270px;
    }
  }
}


.home_right {
  width: 280px;
  float: right;
}

.btn_top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
}
